<div class="app-title mt-4" style="margin-left: -100px;
margin-right: 10px;">
  <div>
    <h1><i class="fa fa-th-list"></i> CDNR-Invoice</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
  </ul>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group" style="margin-left: -100px;
    margin-right: 155px;">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="Search Here...">
    </div>
  </div>
  <div class="col-md-9">
    <button type="button" style="margin-bottom:8px" class="btn btn-info float-right" (click)="addcdnr()">Add
      Invoice</button>
  </div>
</div>
<div class="tile" style="margin-left: -97px;">

  <table class="table">
    <thead>
      <tr style="font-size:15px">

        <th>Supply Type</th>
        <th>ont_num</th>
        <th>ont_dt</th>
        <th>ntty</th>
        <th>nt_num</th>
        <th>nt_dt</th>

        <th>p_gst</th>
        <th>Invoice date</th>
        <th>value</th>

        <th>Differential percentage</th>

        <th>num</th>

        <th>Rate of Invoice</th>
        <th>txval</th>
        <th>IGST Amount as per invoice</th>

<th>samt</th>
        <th>Cess Amount as per invoice</th>


      </tr>

    </thead>


    <tbody>
      <tr *ngFor="let d of cdnr| filter:term | paginate: { itemsPerPage: 5, currentPage:b2bpage }; let i=index">

        <td>{{d.ctin}}</td>
      <td>{{d.nt[0].ont_num}}</td>
    
         <td>{{d.nt[0].ont_dt}}</td>
        <td>{{d.nt[0].nt_num}}</td>

        <td>{{d.nt[0].nt_dt}}</td>

        <td>{{d.nt[0].p_gst}}</td>
        <td>{{d.nt[0].inum}}</td>


        <td>{{d.nt[0].idt}}</td>

        <td>{{d.nt[0].val}}</td>

        <td>{{d.nt[0].diff_percent}}</td>

        <td>{{d.nt[0].itms[0].num}}</td>

        <td>{{d.nt[0].itms[0].itm_det.rt}}</td>

         <td>{{d.nt[0].itms[0].itm_det.txval}}</td>

        <td>{{d.nt[0].itms[0].itm_det.iamt}}</td>
        <td>{{d.nt[0].itms[0].itm_det.samt}}</td>
        <td>{{d.nt[0].itms[0].itm_det.csamt}}</td> 



      </tr>

    </tbody>

  </table>
</div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="back()">Back</button>
    </div>
    <div class="col-md-6">
    <pagination-controls class="pull-right" (pageChange)="b2bpage = $event"></pagination-controls> 
    </div>
    </div>