<div class="app-title mt-4" style="margin-left: -100px;
margin-right: 10px;">
  <div>
    <h1><i class="fa fa-th-list"></i> B2CLA-Invoice</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
  </ul>
</div>
<div class="row">
    <div class="col-md-3">
      <div class="form-group" style="margin-left: -100px;
      margin-right: 155px;">
        <input type="text" class="form-control" [(ngModel)]="term" placeholder="Search Here...">
      </div>
    </div>
    <div class="col-md-9">
      <button type="button" style="margin-bottom:8px" class="btn btn-info float-right"  (click)="addb2cla()" >Add Invoice</button>
    </div>
  </div>
<div class="tile" style="margin-left: -97px;">

  <table class="table">
      <thead>
          <tr style="font-size:15px">

              <th>Place of supply</th>

              <th>Supplier Invoice Number</th>

              <th>Supplier Invoice Date</th>

              <th>Supplier Invoice Value</th>

              <th>Invoice type</th>

              <th>Ecommerce Gstin</th>

              <th>Differential percentage</th>

              <th>Serial no</th>

              <th>Rate</th>

              <th>Taxable value of Goods or Service as per invoice</th>

              <th>IGST Amount as per invoice</th>

              <th>cess Amount as per invoice</th>

          </tr>
      <tbody>
          <tr *ngFor="let d of getb2cladata| filter:term | paginate: { itemsPerPage: 5, currentPage:b2bpage }; let i=index">

              <td>{{d.pos}}</td>

              <td>{{d.inv[0].inum}}</td>

              <td>{{d.inv[0].idt}}</td>

              <td>{{d.inv[0].val}}</td>

              <td>{{d.inv[0].inv_typ}}</td>

              <td>{{d.inv[0].etin}}</td>

              <td>{{d.inv[0].diff_percent}}</td>

              <td>{{d.inv[0].itms[0].num}}</td>

              <td>{{d.inv[0].itms[0].itm_det.rt}}</td>

              <td>{{d.inv[0].itms[0].itm_det.txval}}</td>

              <td>{{d.inv[0].itms[0].itm_det.iamt}}</td>

              <td>{{d.inv[0].itms[0].itm_det.csamt}}</td>


          </tr>
      </tbody>
  </table>

</div>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-success" (click)="back()">Back</button>
  </div>
  <div class="col-md-6">
  <pagination-controls class="pull-right" (pageChange)="b2bpage = $event"></pagination-controls> 
  </div>
  </div>