<div class="container-fluid topmar">

   <div class="row" style="margin-left: -160px;">
    <div class="col-md-4">
        
    <div class="card">
      
        <div class="card-body text-center p-4  bg-color " style="color:white">
            <a (click)="gstr1()"><h4><b>Details of outward supplies of goods (or) services GSTR1</b></h4></a>
        
        </div> 
        <div class="card-footer p-4">
            
                <button type="button" class="btn btn-primary">Prepare Online</button>&nbsp;

                <button type="button" class="btn btn-primary">Prepare Offline</button>


        </div>
      </div>

    </div>
    <div class="col-md-4">
        
          <div class="card">
      
        <div class="card-body text-center p-4 bg-color-green" style="color:white">
            <a (click)="gstr2()"><h4><b>Details of outward supplies of goods (or) services GSTR2</b></h4></a>
        
        </div> 
        <div class="card-footer p-4">
            
                <button type="button" class="btn btn-primary">Prepare Online</button>&nbsp;

                <button type="button" class="btn btn-primary">Prepare Offline</button>


        </div>
      </div>
        </div>
        <div class="col-md-4">
        
                <div class="card">
      
                        <div class="card-body text-center p-4 bg-color-y" style="color:white">
                      <a (click)="gstr3b()"><h4><b>Details of outward supplies of goods (or) services GSTR3B</b></h4></a>
                        
                        </div> 
                        <div class="card-footer p-4">
                            
                                <button type="button" class="btn btn-primary">Prepare Online</button>&nbsp;
                
                                <button type="button" class="btn btn-primary">Prepare Offline</button>
                
                
                        </div>
                      </div>
            </div>
</div>


<div class="footer">
        <div class="row">
            <div class="col-sm-3"><br>
    
                <h6>Ojas Innovative Technologies Pvt Ltd (ISO 9001:2015, ISO 27001:2013)
                    9th Floor, Block C, MJR Magnifique, Raidurgam, Hyderabad </h6>
    
                <!-- <img src="assets\img\img\ojas-logo1.png"> -->
    
            </div>
            <div class="col-sm-3">
                <div class=" footer-box four-cell company-details">
                    <div class="icon-top green-text"><img
                            src="https://www.gstn.org/my_content/themes/zerif-pro/images/envelope4-green.png" alt=""></div>
                    <div class="zerif-footer-email"><a href="mailto:info@gstn.org.in">info@gstn.org.in</a></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class=" footer-box four-cell company-details">
                    <div class="icon-top blue-text"><img
                            src="https://www.gstn.org/my_content/themes/zerif-pro/images/telephone65-blue.png" alt=""></div>
                    <div class="zerif-footer-phone"><a href="tel:011-49111200">011-49111200</a></div>
                </div>
            </div>
            <div class="col-sm-3">
                <p id="zerif-copyright">
                    Copyright ©2017 GSTN All rights reserved.</p>
            </div>
        </div>
    </div>

</div>