<div class="container mt-5">
       <!-- expa starts -->
       <form [formGroup]="gstinvoiceform">
       <div >
          <div role="tabpanel" class="tab-pane fade show active">

              <div class="tile">
                  <h2 class="mb-5">Expa</h2>
                  <div class="row">

                    <div class="col-md-3">
  
                        <div class="form-group form-group-sm">
  
                            <label for="firstname" class="control-label">GSTIN of the Tax Payer</label>
  
                            <input type="text" class="form-control" id="firstname"
                                placeholder="Enter GSTIN of the Tax Payer" formControlName="gstin">
  
                            <span style="color:red"
                                *ngIf="gstinvoiceform.get('gstin').touched && gstinvoiceform.get('gstin').invalid">
  
                                <span *ngIf="gstinvoiceform.get('gstin').errors.required">
  
                                    GSTIN of the Tax Payer required
  
                                </span>
  
                            </span>
  
  
                        </div>
  
                    </div>
  
                    <div class="col-md-3">
  
                        <div class="form-group">
  
                            <label for="lastname" class="control-label">return period</label>
  
                            <input type="number" class="form-control" id="lastname"
                                placeholder="Enter return period " formControlName="ret_period">
  
                        </div>
  
                    </div>
  
                    <div class="col-md-3">
  
                        <div class="form-group">
  
                            <label for="lastname" class="control-label">Gross Turnover in Financial year </label>
  
                            <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                formControlName="gt">
  
                        </div>
  
                    </div>
  
  
                    <div class="col-md-3">
  
                        <div class="form-group">
  
                            <label for="lastname" class="control-label">Gross Turnover</label>
  
                            <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                formControlName="cur_gt">
  
                        </div>
  
                    </div>
                </div>
                <br>
                  <div class="row">
                      <div class="col-md-4">

                          <div class="form-group form-group-sm">

                              <label for="firstname" class="control-label">exp_typ</label>

                              <input type="number" class="form-control" id="firstname" placeholder="Enter exp_typ"
                                  formControlName="exp_typexpa">

                          </div>

                      </div>


                      <div class="col-md-4">

                          <div class="form-group">

                              <label for="lastname" class="control-label">invoice number</label>

                              <input type="text" class="form-control" id="lastname"
                                  placeholder="Enter invoice number" formControlName="inumexpa">

                          </div>

                      </div>


                      <div class="col-md-4">

                          <div class="form-group form-group-sm">

                              <label for="firstname" class="control-label">Supplier Invoice Date</label>

                              <input type="date" class="form-control" id="firstname"
                                  placeholder="Enter Original Supplier Invoice Date" formControlName="idtexpa">

                          </div>

                      </div>


                      <div class="col-md-4">

                          <div class="form-group">

                              <label for="lastname" class="control-label">value</label>

                              <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                  formControlName="valexpa">

                          </div>

                      </div>



                      <div class="col-md-4">

                          <div class="form-group">

                              <label for="lastname" class="control-label">sbpcode</label>

                              <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                  formControlName="sbpcodeexpa">

                          </div>

                      </div>
                      <div class="col-md-4">

                          <div class="form-group">

                              <label for="lastname" class="control-label">sbnunm</label>

                              <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                  formControlName="sbnumexpa">

                          </div>

                      </div>
                      <div class="col-md-4">

                          <div class="form-group">

                              <label for="lastname" class="control-label">sbdt</label>

                              <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                  formControlName="sbdtexpa">

                          </div>

                      </div>

                  </div>
                  <br>


                  <h2>Item Details</h2>
                  <div class="row">




                      <div class="col-md-4">

                          <div class="form-group form-group-sm">

                              <label for="firstname" class="control-label">Rate of Invoice</label>

                              <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                  formControlName="rtexpa">

                          </div>

                      </div>

                      <div class="col-md-4">

                          <div class="form-group form-group-sm">

                              <label for="firstname" class="control-label">Taxable value </label>

                              <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                  formControlName="txvalexpa">

                          </div>

                      </div>

                      <div class="col-md-4">

                          <div class="form-group form-group-sm">

                              <label for="firstname" class="control-label">IGST Amount as per invoice</label>

                              <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                  formControlName="iamtexpa">

                          </div>

                      </div>



                      <div class="col-md-4">

                          <div class="form-group form-group-sm">

                              <label for="firstname" class="control-label">Cess Amount as per invoice</label>

                              <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                  formControlName="csamtexpa">

                          </div>

                      </div>

                  </div>
                  <button type="button" class="btn btn-success"
                      (click)="saveGSTInvoiceobj(gstinvoiceform.value)">Add</button>

                  <button type="button" class="btn btn-danger ml-4"
                      (click)="gstinvoiceform.reset()">Cancel</button>
                  <button type="button" class="btn btn-warning ml-4" (click)="backClicked()">Back</button>

              </div>
              
          </div>
      </div>
      </form>
      <!-- expa ends -->
      </div>