<div class="container mt-5">
  <!-- hsn starts -->
  <form [formGroup]="gstinvoiceform">
    <div>

      <div role="tabpanel" class="tab-pane fade show active" id="hsn">

        <div class="tile">

          <h2 class="mb-5">HSN-Add Invoice</h2>
          <div class="row">

            <div class="col-md-3">

              <div class="form-group form-group-sm">

                <label for="firstname" class="control-label">GSTIN of the Tax Payer</label>

                <input type="text" class="form-control" id="firstname" placeholder="Enter GSTIN of the Tax Payer"
                  formControlName="gstin">

                <span style="color:red"
                  *ngIf="gstinvoiceform.get('gstin').touched && gstinvoiceform.get('gstin').invalid">

                  <span *ngIf="gstinvoiceform.get('gstin').errors.required">

                    GSTIN of the Tax Payer required

                  </span>

                </span>


              </div>

            </div>

            <div class="col-md-3">

              <div class="form-group">

                <label for="lastname" class="control-label">return period</label>

                <input type="number" class="form-control" id="lastname" placeholder="Enter return period "
                  formControlName="ret_period">

              </div>

            </div>

            <div class="col-md-3">

              <div class="form-group">

                <label for="lastname" class="control-label">Gross Turnover in Financial year </label>

                <input type="number" class="form-control" id="lastname" placeholder="Enter Number" formControlName="gt">

              </div>

            </div>


            <div class="col-md-3">

              <div class="form-group">

                <label for="lastname" class="control-label">Gross Turnover</label>

                <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                  formControlName="cur_gt">

              </div>

            </div>
          </div>
          <br>
          <div class="row">

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label"> Num</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="numhsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">hsn_sc</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="hsn_schsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">desc</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="deschsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">uqc</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="uqchsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">qty</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="qtyhsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">val</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="valhsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">txval</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="txvalhsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">



                <label for="firstname" class="control-label">iamt</label>



                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="iamthsn">



              </div>



            </div>

            <div class="col-md-4">



              <div class="form-group form-group-sm">


                <label for="firstname" class="control-label">csamt</label>


                <input type="text" class="form-control" id="firstname"
                  placeholder="Enter Original Supplier Invoice Number" formControlName="csamthsn">


              </div>


            </div>



          </div>
          <button type="button" class="btn btn-success"
          (click)="saveGSTInvoiceobj(gstinvoiceform.value)">Add</button>

      <button type="button" class="btn btn-danger ml-4"
          (click)="gstinvoiceform.reset()">Cancel</button>
      <button type="button" class="btn btn-warning ml-4" (click)="backClicked()">Back</button>


        </div>

      </div>

    </div>
  </form>
</div>

<!--hsn ends-->