<!-- b2cl start -->
<div class="container mt-5">
    <form [formGroup]="gstinvoiceform">
        <div>
            <div role="tabpanel" class="tab-pane fade show active" id="B2cl">

                <div class="tile">
                    <h2 class="mb-5">B2CL-Add Invoice</h2>

                    <div class="row">

                        <div class="col-md-3">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">GSTIN of the Tax Payer</label>

                                <input type="text" class="form-control" id="firstname"
                                    placeholder="Enter GSTIN of the Tax Payer" formControlName="gstin">

                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('gstin').touched && gstinvoiceform.get('gstin').invalid">

                                    <span *ngIf="gstinvoiceform.get('gstin').errors.required">

                                        GSTIN of the Tax Payer required

                                    </span>

                                </span>


                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="form-group">

                                <label for="lastname" class="control-label">return period</label>

                                <input type="number" class="form-control" id="lastname"
                                    placeholder="Enter return period " formControlName="ret_period">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('ret_period').touched && gstinvoiceform.get('ret_period').invalid">

                                    <span *ngIf="gstinvoiceform.get('ret_period').errors.required">return period
                                        required
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastname" class="control-label">Gross Turnover in Financial year </label>

                                <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                    formControlName="gt">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('gt').touched && gstinvoiceform.get('gt').invalid">
                                    <span *ngIf="gstinvoiceform.get('gt').errors.required">Gross Turnover in Financial
                                        year required
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="form-group">

                                <label for="lastname" class="control-label">Gross Turnover</label>

                                <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                    formControlName="cur_gt">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('cur_gt').touched && gstinvoiceform.get('cur_gt').invalid">
                                    <span *ngIf="gstinvoiceform.get('cur_gt').errors.required">Gross Turnover in
                                        Financial year required
                                    </span>
                                </span>

                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">Place of Supply</label>

                                <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                    formControlName="posb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('posb2cl').touched && gstinvoiceform.get('posb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('posb2cl').errors.required">Place of Supply required
                                    </span>
                                </span>

                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">

                                <label for="lastname" class="control-label">invoice number</label>

                                <input type="text" class="form-control" id="lastname" placeholder="Enter invoice number"
                                    formControlName="inumb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('inumb2cl').touched && gstinvoiceform.get('inumb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('inumb2cl').errors.required">Invoice number required
                                    </span>
                                </span>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group">

                                <label for="lastname" class="control-label">Invoice date</label>

                                <input type="date" class="form-control" id="lastname" placeholder="Enter Invoice date"
                                    formControlName="idtb2cl">


                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">

                                <label for="lastname" class="control-label">value</label>

                                <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                                    formControlName="valb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('valb2cl').touched && gstinvoiceform.get('valb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('valb2cl').errors.required">Value is required
                                    </span>
                                </span>

                            </div>

                        </div>


                    </div>
                    <br>
                    <h2>Item Details</h2>
                    <div class="row">

                        <div class="col-md-4">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">Serial no</label>

                                <input type="number" class="form-control" id="firstname"
                                    placeholder="Enter Serial Number" formControlName="numb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('numb2cl').touched && gstinvoiceform.get('numb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('numb2cl').errors.required">Serial no is required
                                    </span>
                                </span>

                            </div>

                        </div>


                        <div class="col-md-4">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">Rate of Invoice</label>

                                <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                    formControlName="rtb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('rtb2cl').touched && gstinvoiceform.get('rtb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('rtb2cl').errors.required">Rate of Invoice is
                                        required
                                    </span>
                                </span>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">Taxable value </label>

                                <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                    formControlName="txvalb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('txvalb2cl').touched && gstinvoiceform.get('txvalb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('txvalb2cl').errors.required">Taxable value is
                                        required
                                    </span>
                                </span>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">IGST Amount as per invoice</label>

                                <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                    formControlName="iamtb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('iamtb2cl').touched && gstinvoiceform.get('iamtb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('iamtb2cl').errors.required">IGST value is required
                                    </span>
                                </span>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group form-group-sm">

                                <label for="firstname" class="control-label">Cess Amount as per invoice</label>

                                <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                                    formControlName="csamtb2cl">
                                <span style="color:red"
                                    *ngIf="gstinvoiceform.get('csamtb2cl').touched && gstinvoiceform.get('csamtb2cl').invalid">
                                    <span *ngIf="gstinvoiceform.get('csamtb2cl').errors.required">Cess value is required
                                    </span>
                                </span>

                            </div>

                        </div>

                    </div>

                    <button type="button" class="btn btn-success"
                        (click)="saveGSTInvoiceobj(gstinvoiceform.value)">Save</button>

                    <button type="button" class="btn btn-danger ml-4" (click)="gstinvoiceform.reset()">Cancel</button>
                    <button type="button" class="btn btn-warning ml-4" (click)="backClicked()">Back</button>

                </div>

            </div>
        </div>
    </form>
</div>
<!-- b2cl start -->