<div class="container mt-5">
  <!-- B2csa start -->
  <form [formGroup]="gstinvoiceform">
  <div>
      <div role="tabpanel" class="tab-pane fade show active" id="B2csa">

          <div class="tile">
              <h2 class="mb-5">B2CSA-Add Invoice</h2>
              <div class="row">

                  <div class="col-md-3">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">GSTIN of the Tax Payer</label>

                          <input type="text" class="form-control" id="firstname"
                              placeholder="Enter GSTIN of the Tax Payer" formControlName="gstin">

                          <span style="color:red"
                              *ngIf="gstinvoiceform.get('gstin').touched && gstinvoiceform.get('gstin').invalid">

                              <span *ngIf="gstinvoiceform.get('gstin').errors.required">

                                  GSTIN of the Tax Payer required

                              </span>

                          </span>


                      </div>

                  </div>

                  <div class="col-md-3">

                      <div class="form-group">

                          <label for="lastname" class="control-label">return period</label>

                          <input type="number" class="form-control" id="lastname"
                              placeholder="Enter return period " formControlName="ret_period">

                      </div>

                  </div>

                  <div class="col-md-3">

                      <div class="form-group">

                          <label for="lastname" class="control-label">Gross Turnover in Financial year </label>

                          <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                              formControlName="gt">

                      </div>

                  </div>


                  <div class="col-md-3">

                      <div class="form-group">

                          <label for="lastname" class="control-label">Gross Turnover</label>

                          <input type="number" class="form-control" id="lastname" placeholder="Enter Number"
                              formControlName="cur_gt">

                      </div>

                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Original Month of Invoice</label>

                          <input type="number" class="form-control" id="firstname"
                              placeholder="Enter Original Month of Invoice" formControlName="omonb2csa">

                      </div>
                  </div>


                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Type</label>

                          <input type="number" class="form-control" id="firstname"
                              placeholder="Enter Original Month of Invoice" formControlName="typ">

                      </div>
                  </div>

                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Supply Type</label>

                          <input type="text" class="form-control" id="firstname"
                              placeholder="Enter Supply Type" formControlName="sply_tyb2csa">

                      </div>

                  </div>



                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Place of Supply</label>

                          <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                              formControlName="posb2csa">

                      </div>

                  </div>

              </div>

              <br>
              <h2>Item Details</h2>
              <div class="row">

                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Rate of Invoice</label>

                          <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                              formControlName="rtb2csa">

                      </div>

                  </div>

                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Taxable value </label>

                          <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                              formControlName="txvalb2csa">

                      </div>

                  </div>
                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">IGST Amount as per invoice</label>

                          <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                              formControlName="iamtb2csa">

                      </div>

                  </div>
                  <div class="col-md-4">
                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">CGST Amount as per invoice</label>

                          <input type="number" class="form-control" id="firstname"
                              placeholder="Enter CGST Amount as per invoice" formControlName="camtb2csa">

                      </div>

                  </div>
                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">SGST Amount as per invoice</label>

                          <input type="number" class="form-control" id="firstname"
                              placeholder="Enter SGST Amount as per invoice" formControlName="samtb2csa">

                      </div>

                  </div>

                  <div class="col-md-4">

                      <div class="form-group form-group-sm">

                          <label for="firstname" class="control-label">Cess Amount as per invoice</label>

                          <input type="number" class="form-control" id="firstname" placeholder="Enter Number"
                              formControlName="csamtb2csa">

                      </div>

                  </div>
              </div>
              <button type="button" class="btn btn-success"
                  (click)="saveGSTInvoiceobj(gstinvoiceform.value)">Save</button>

              <button type="button" class="btn btn-danger ml-4"
                  (click)="gstinvoiceform.reset()">Cancel</button>
              <button type="button" class="btn btn-warning ml-4" (click)="backClicked()">Back</button>

          </div>



      </div>
  </div>
  </form>
  <!--  B2csa end -->
</div>